.footer a:hover {
    background-image: linear-gradient(to right,gold, darkorange, red);   -webkit-background-clip: text;
    color: transparent;  
}
  .footer a{
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .footer{
      position: relative;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  @media only screen and (max-width: 500px) {
    .footer a{
        font-size: 1rem;
    } 
  }
  .footer p{
    position: absolute;
    bottom: -1rem;
    right: 1rem;
      color: white;
  }