body {
    margin: 0;
}

.landing-page {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("graphic_design_background.png");
}

.landing-page-text-box {
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.landing-page-text-box h1 {
    font-size: 80px;
    color: white;
    padding: 0;
    margin: 0;
}

.landing-page-text-box p {
    font-size: 30px;
    color: white; 
    padding: 0;
    margin: 0;
}

.divider {
    width: 100%;
    height: 5%;
    background-color: #333;
}

.content-container {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
}

.content-text-box {
    min-height: 100%;
    width: 50%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-text-box p {
    font-size: 30px;
    max-width: 50ch;
    text-align: center;
    color: white;
}

.content-text-box h2{
    font-size: 40px;
    text-align: center;
    color: white;
}

.text {
    margin: 20px;
    width: calc (100% - 20px);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line {
    width: 75%;
    height: 5px;
    background-color: blue;
    margin-left: 12.5%;
}

.content-image {
    min-height: 100%;
    width: 50%;
    background-color: #333;
    background-image: url(graphic_design_background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (max-width: 600px) {
    .landing-page-text-box h1 {
        font-size: 40px;
    } 

    .landing-page-text-box p {
        font-size: 20px;
    }

    .content-container {
        height: 100%;
        flex-direction: column;
    }

    .content-text-box {
        min-height: 50%;
        width: 100%;
        order: 1;
    }

    .content-image {
        min-height: 50%;
        width: 100%;
        order: 2;
    }

    .content-text-box p {
        font-size: 20px;
    }

    .content-text-box h2 {
        font-size: 30px;
    }

    .divider {
        height: 0;
        width: 0;
    }
}