html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #333;
    overflow-x: hidden;
}

.landing-page {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("graphic_design_background.png");
}

.landing-page-text-box {
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.landing-page-text-box h1 {
    font-size: 80px;
    color: white;
    padding: 0;
    margin: 0;
}

.landing-page-text-box p {
    font-size: 30px;
    color: white; 
    padding: 0;
    margin: 0;
}

.divider {
    width: 100%;
    height: 5%;
    background-color: #333;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.title-text-box {
    width: 60%;
    max-width: 1200px;
    text-align: center;
}

.title-text-box-divider {
    width: 20%;
    margin-left: 40%;
    height: 5px;
    background: url("graphic_design_background.png");
    background-size: cover;
}

.title-text-box h2, p {
    color: #f2f2f2;
    font-family: "Open Sans", sans-serif;
}

.title-text-box p {
    line-height: 1.5;
}

.title-text-box h2 {
    margin-bottom: 10px;
    font-size: xx-large;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-text-box-container {
    width: 60%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content-text-box-a {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    
    text-decoration: none;
    display: block;
}

.content-text-box-no-a {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.content-text-box {
    min-height: 100%;
    background: linear-gradient(
    rgba(51,51,51,.5), 
    rgba(51,51,51,.5)), 
    url("graphic_design_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    -webkit-transform: scale(1, 1);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: scale(1, 1);  /* IE 9 */
        transform: scale(1, 1);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.content-text-box:hover {
    -webkit-transform: scale(1.1, 1.1);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: scale(1.1, 1.1);  /* IE 9 */
        transform: scale(1.1, 1.1);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.content-text-box p {
    max-width: 45ch;
    text-align: center;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: large;
}

.content-text-box h2{
    font-size: xx-large;
    text-align: center;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.text {
    margin: 20px;
    width: calc (100% - 20px);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line {
    width: 75%;
    height: 5px;
    background-color: #333;
    margin-left: 12.5%;
}

@media only screen and (max-width: 600px) {
    .landing-page-text-box h1 {
        font-size: 40px;
    } 

    .landing-page-text-box p {
        font-size: 20px;
    }

    .title-text-box {
        width: 90%;
    }

    .title-text-box p {
        font-size: 20px;
    }

    .content-container {
        width: 100%;
    }

    .content-text-box-container {
        width: 100%;
        flex-direction: column; 
    }

    .content-text-box p {
        font-size: 20px;
    }

    .content-text-box h2 {
        font-size: 30px;
    }

    .divider {
        height: 0;
        width: 0;
    }
}