.topnav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    min-width: 320px;
    z-index: 10;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
 #logo {
    all:initial;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f2f2f2;
}

@media only screen and (max-width: 450px) {
  #logo{
      font-size: 1.2rem;
  } 
}
@media only screen and (max-width: 410px) {
  #logo{
      font-size: 1rem;
  } 
}

  #logo:hover{
      color: gold;
  }
  #logo img{
      all:initial;
      float: left;
      width: auto;
      height: auto;
      max-height: 40px;
      margin: .2rem;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:gold;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: darkorange;
    color: black;
  }